#NavBar nav {
  background-color: var(--gold);
  display: flex;
  justify-content: space-between;
}

#NavBar nav > div {
  flex: 1;
}

#NavBar nav > div.NavBar-logo {
  flex: 0;
}

#NavBar #menu-btn {
  padding-left: 12px;
}

#NavBar .username {
  color: var(--brown);
}

.NavBar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-green);
}

.NavBar-logo img {
  margin: auto 8px auto 10px;
  height: 48px;
}

.NavBar-logo div:first-child {
  letter-spacing: 2px;
}

