.TourneySelector {
  grid-area: sidebar;
}

.TourneySelector section {
  overflow-y: scroll;
}

.TourneySelector-Previous {
  margin-top: 15px;
}

.TourneySelector-no-data {
  text-align: center;
}

.TourneySelector-no-data p {
  font-size: 18px;
}
