.TourneySelector {
  grid-area: sidebar;
}

.TourneySelector section {
  overflow-y: scroll;
}

.TourneySelector-top-controls {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 20px;
}

