.TourneyCard.card:not(.active) {
  border: 2px solid transparent;
  cursor: pointer;
}

.TourneyCard.card.active {
  border: 2px solid var(--dark-green);
  cursor: default;
}

.TourneyCard .card-action a {
  display: inline-flex;
  flex-wrap: nowrap;
}