* {
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

#root {
  height: 100vh;
}

.App .page-no-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
}

.toast-error {
  background-color: var(--dark-red);
  color: white;
}

.dropdown-trigger:focus {
  outline: none;
}

.App .dropdown-content {
  min-width: 200px;
}




