html, body {
  height: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

#root {
  height: 100vh;
}

.App .page-no-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.toast-error {
  background-color: var(--dark-red);
  color: white;
}

.dropdown-trigger:focus {
  outline: none;
}

.App .dropdown-content {
  min-width: 200px;
}

.col-section {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 128px);
  background-color: var(--light-beige);
  opacity: 0.85;
  padding: 10px;
}

.section-title {
  color: var(--light-green);
  opacity: 0.5;
  height: 42px;
  font-size: 13px;
  letter-spacing: 3px;
  white-space: nowrap;
  text-align: center;
  margin: -10px 0 0;
  padding: 10px;
  border-bottom: 1px solid var(--light-green);
}

/* misc materialize overrides */
.App span.badge {
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
  background-color: var(--brown);
  border-radius: 2px;
}


/* cards */
.App .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: var(--brown);
}

.App .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: var(--green);
  text-decoration: underline;
}

.App .card .card-content .card-title {
  text-align: center;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 26px;
}

.App .card dl dt {
  color: grey;
}

.App .card dl dd {
  margin-left: 15px;
}

.App .card dd span {
  color: grey;
}


